[submodule "bootloader"]
	path = bootloader
	url = ssh://git@github.com:ftbgobrrr/bootloader.git
[submodule "launch.it"]
	path = launch.it
	url = ssh://git@github.com:ftbgobrrr/launch.it.git
[submodule "launcher"]
	path = launcher
	url = ssh://git@github.com:ftbgobrrr/launcher.git
